<div class="sidebar-options">
  <form (ngSubmit)="handleSubmit()">
    <div class="input-fields">

      <div class="input-fields">
        <div class="input-fields-top">
          <label class="input-text-label">Github User
            <input class="input-text input-user" [(ngModel)]="params.user" (ngModelChange)="handleChange()" name="user" type="text">
            <span></span>
          </label>
          <label class="input-text-label">Repository
            <input class="input-text input-repo" [(ngModel)]="params.repo" (ngModelChange)="handleChange()" name="repo" type="text">
            <span></span>
          </label>
          <label class="input-text-label">
            <div>
              Subdir
              <div class="optional-tag">(optional)</div>
            </div>
            <input class="input-text input-subdir" [(ngModel)]="params.subdir" (ngModelChange)="handleChange()" name="subdir" type="text">
            <span></span>
          </label>
          <label class="input-submit-label">
            <input class="input-submit" type="submit" value="submit">
          </label>
        </div>

        <div class="input-fields-bottom">
          <label class="input-url-label">
            <div>
              Github URL
              <div class="optional-tag">
                (optional)
              </div>
            </div>
            <input class="input-text input-url" [(ngModel)]="params.url" (ngModelChange)="handleUrlChange()" name="url" type="text">
            <span></span>
          </label>
        </div>
      </div>

    </div>
  </form>
</div>
