<div class="svg-container">
  <div class="top-options">
    <div class="top-options-search">
      <label class="search-label">
        <input id="search"
          class="input-text"
          [(ngModel)]="searchedId"
          (ngModelChange)="handleSearch()"
          type="text"
          placeholder="Search"
          name="searchedId">
        <span></span>
      </label>
      <div id="search-clear"
        (click)="handleClearSearch()">
        x
      </div>
    </div>

    <div id="pause-button"
      (click)="handlePause()">
      <i class="fa toggle-pause-icon"
        [ngClass]="!paused ? 'fa-pause' : 'fa-play'"
        aria-hidden="true"></i>
    </div>
  </div>
  <svg class="svg-main" width="500" height="474">
  </svg>
</div>
