<div class="title-wrapper">
  <div>Github</div>&nbsp;
  <div>Filetree</div>&nbsp;
  <div>Visualizer</div>
  <!-- <div class="button-help">
    ?
  </div> -->
</div>

<app-sample-repos></app-sample-repos>

<div class="main">
  <app-sidebar></app-sidebar>
  <app-d3-container></app-d3-container>
</div>

<div class="name">
  Hanhee Song
</div>
<div class="about-me">
  <a href="https://hanhee-song.com" rel="noopener noreferrer" target="_blank">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <a href="https://github.com/hanhee-song/project-visualizer" rel="noopener noreferrer" target="_blank">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
  <a href="https://www.linkedin.com/in/hanhee-song" rel="noopener noreferrer" target="_blank">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
  <a href="mailto:song.hanhee@gmail.com">
    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
    <div class="text">song.hanhee@gmail.com</div>
  </a>
</div>
