/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************************/

* {
  font-family: 'Inconsolata', monospace;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(0deg, #0f141c, #212d3f);
  height: 100%;
  width: 100%;
  color: #d8d8d8;
  padding-top: 100px;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  height: 600px;
}

.svg-main {
  display: block;
  border: 1px solid red;
}

.sidebar-main {
  width: 500px;
  height: 600px;
}

.sidebar-header {
  padding: 5px 0px 5px 10px;
  width: 500px;
  height: 150px;
  border: 1px solid green;
  font-family: 'Inconsolata', monospace;
  overflow: auto
}

.sidebar-options {
  padding: 5px 0px 5px 10px;
  width: 500px;
  height: 50px;
  border: 1px solid yellow;
  font-family: 'Inconsolata', monospace;
  overflow: auto
}

.file-content {
  padding: 5px 0px 5px 10px;
  width: 500px;
  height: 400px;
  display: block;
  border: 1px solid blue;
  font-family: 'Inconsolata', monospace;
  font-size: 13px;
  overflow: auto;
}

.nodes circle {
  stroke: #0f141c;
  stroke-width: 1.5px;
}

.links line {
  stroke: #888;
  stroke-width: 2px;
}

.label {
  /*stroke: #d8d8d8;
  stroke-width: 0px;*/
  fill: #d8d8d8;
  font-size: 11px;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tooltip {
  stroke: #d8d8d8;
  stroke-width: .5px;
  font-size: 11px;
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.tooltip-box {
  stroke: #d8d8d8;
  stroke-width: 1.5px;
}

*::-webkit-scrollbar-track {
  border: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0)
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(98, 129, 178, .5);
  border-radius: 8px;
}
