.svg-main {
  display: block;
  margin: 100px auto;
  border: 1px solid red;
}

.nodes circle {
  stroke: #ddd;
  stroke-width: 1.5px;
}

.links line {
  stroke: #888;
  stroke-width: 2px;
}

.nodes text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
