* {
  font-family: sans-serif;
}

.svg-main {
  display: block;
  margin: 100px auto;
  border: 1px solid red;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
  /*fill: #999;*/
}

.links line {
  stroke: #888;
  stroke-width: 2px;
}

text {
  fill: rgba(90, 40, 40, 0.9);
  font: 11px sans-serif;
  pointer-events: none;
}
